.dark{
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
}
.wrapper{
    width: 100%;
    height: 100%;
    margin: 10px;
    bottom: 0;
    position: fixed;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.986);
    z-index: 200;
    max-height: 500px;
    border-radius: 22px 22px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper form input{
    margin-top: 20px;
    border: none;
    padding: 10px;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 12px;
    height: 60px;
    border: 0.5px solid rgba(0, 0, 0, 0.068);
}
.wrapper button{
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 12px;
    width: 100px;
    font-weight: 300;
}
.wrapper p{
    color: gray;
    margin-top: 10px;
}