/* Hero css */
/* .wrapper{
    position: fixed;
    z-index: -10;
} */
/* .hero{
    width: 100%;
    height: 100%;

} */

.hero h1{
    font-size: 70px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
}
.hero span{
    color: rgb(133, 133, 133);
}





.print{
    background-color: rgba(7, 74, 173, 0.973);
    border-radius: 185px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    width: 200px;
}

/* Services */
/* 
.label{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    padding-left: 30px;
    color: rgba(247, 247, 247, 0.199);
}
.services{
    overflow: auto;
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 5px;
}
.services img{
    margin-left: 20px;
    width: 200px;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0);
    border: 0.1px solid rgba(255, 255, 255, 0.062);
} */
