

  .upload{
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form{
  background-color: whitesmoke;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input::file-selector-button{
  margin-left: 20px;
  border: none;
  background-color: rgb(41, 41, 41);
  color: aliceblue;
  padding: 10px;
  border-radius: 12px;
}


  .options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 30px;
    flex-direction: column;
}
.options select{
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    outline: none;
}

.price{
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  height: 100px;
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.price button{
  border: 0.51PX solid rgba(0, 0, 0, 0.24);
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 12px;
}
.options select{
  border: 0.1px solid rgba(0, 0, 0, 0.062);
}

