.menu{
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(255, 255, 255); */
    position: fixed;
    top: 20%;
    border-radius: 12px;
    backdrop-filter: blur(8px); 
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    list-style: none;
    z-index: 999;
}
.menu ul{
    position: absolute;
    top: 10%;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.menu li{
    background-color: rgba(255, 255, 255, 0.801);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    width: 300px;
    font-weight:400;
    border: 0.51px solid rgba(0, 0, 0, 0.082);
}
.other li{
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    color: rgba(4, 4, 66, 0.329);
    font-weight: 400;

}
.menu .other{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 1px 1px 100px 1px rgba(226, 226, 226, 0.26);
    background-color: transparent;
    margin-top: 20px;
}
