.Navagation{
    position: relative;
    z-index: 999;
    height: 70px;
    width: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    border-radius: 22px;
}
.navBar h1{
    font-size: 25px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navagation i{
    font-size: 30px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section1 i{
    font-size: 25px;
    color: rgb(49, 49, 49);
}

.account{
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    font-weight: 300;
}